.Navbar {
  position: fixed;
  /* bottom: 0; */
  width: 95%;
  background-color: white;
  padding: 15px;
  height: 60px;
  z-index: 1;
}

.Navbar, .Navbar div {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
}

.Navbar img {
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.Navbar a {
  text-decoration: none;
  color: black;
  font-weight: 450;
}

.clicked-link {
  color: "#0a751c";
}